body {
    font-family: "helvetica", sans-sans-serif;
    text-align: center ;
    background-color: aqua;
    table-layout: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

#status {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #555;
}

.button, button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover, button:hover {
    background-color: #0056b3;
}


form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    padding: 0;
}

button {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}

/* Grid layout for galleries */
.gallery-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.gallery-list .gallery-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background: #fff;
}

.gallery-list .gallery-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.gallery-list .gallery-item .gallery-info {
    padding: 10px;
}

.gallery-list .gallery-item .gallery-info h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
}

.gallery-list .gallery-item .gallery-info button {
    display: inline-block;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .gallery-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
